html 
{
	scroll-behavior: smooth;
}
body
{
	margin: 0;
	padding: 0;
}

/* заглавный текст */
h1 {
	font-family: 'Rowdies';
	font-size: 82px;
	margin: 0px;
	color: white;
}

/* вспомогательный текст */
h2 {
	font-family: 'Rowdies';
	color: white;
	margin: 0px;
	font-size: 32px;
	font-weight: 700;
}

/* вспомогательный текст */
h3 {
	font-family: 'Roboto';
	color: white;
	margin: 0px;
	font-size: 24px;
	font-weight: 300;
}

.header {
	background: black;
	z-index: 5;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.nav_icon {
	/* display: block; */
	/* justify-content: space-between; */
	/* align-items: right; */
	/* padding: 10px; */
	/* margin:auto; */
	width: 90%;
	position: absolute;
	object-fit: cover;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	/* text-align: right; */
}


.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.navbar a {
	color: white;
	display: block;
	text-decoration: none;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 22px;
}

.navbar a:hover {
	color: black;
	background-color: #ddd
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .main_block {
	padding-top: 69px;
}

.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
	background-color: transparent;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
	right: 0px;
	text-align: right;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #ddd
	}

.show {display:block;}

.name_block {
	width: 100%;
	background: black;
	text-align: center;
	padding-bottom: 40px;
	padding-top: 40px;
	margin: auto;
}

.name_block h3 {
	font-size: 20px;
	color: white;
}