html 
{
	scroll-behavior: smooth;
}
body
{
	margin: 0;
}
/* заглавный текст */
h1 {
	font-family: 'Rowdies';
	/* font-family: 'Roboto'; */
	font-size: 82px;
	margin: 0px;
	color: white;
	
}
/* вспомогательный текст */
h2 {
	font-size: 100px;
	margin: 2px;
	font-weight: 500;
}
