html 
{
	scroll-behavior: smooth;
}
body
{
	margin: 0;
	padding: 0;
}

/* заглавный текст */
h1 {
	font-family: 'Rowdies';
	font-size: 82px;
	margin: 0px;
	color: white;
}

/* вспомогательный текст */
h2 {
	font-family: 'Rowdies';
	color: white;
	margin: 0px;
	font-size: 32px;
	font-weight: 700;
}

/* вспомогательный текст */
h3 {
	font-family: 'Roboto';
	color: white;
	margin: 0px;
	font-size: 24px;
	font-weight: 300;
}

.header {
	background: black;
	z-index: 5;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.nav_icon {
	/* display: block; */
	/* justify-content: space-between; */
	/* align-items: right; */
	/* padding: 10px; */
	margin:auto;
	text-align: right;
}


.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navbar a {
	color: white;
	display: block;
	text-decoration: none;
	padding-left: 15px;
	font-size: 22px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .main_block {
	padding-top: 69px;
}