/* intro container */
.main_container {
	width: 100%;
	max-width: 1024px;
	padding-left: 1rem;
	padding-right: 1rem;
	/* margin: 0 auto; */
}

.temp_container {
	height: 250vh;
	max-width: 1024px;
	width: 100%;
}

.block_center {
	display: flex;
	justify-content: center;
	width: 100%;
}