/* intro container */
.main_container {
	max-width: 1024px;
	margin: auto;
}

.empty_container {
	height: 100vh;
	width: 100%;
	background: black;
	text-align: center;
}
.empty_container h1 {
	padding-top: 50px;
	font-size: 32px;
}

.navbar_container {
	max-width: 1524px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
}

.quote_container {
	max-width: 512px;
	margin: auto;
}

